body {
    font-family: Candara, serif;
    display: block;
    width: 100%;
}

header {
    height: 100px;
}

h1, 
h2, 
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.img-header {
    background-image: url(../image/155-1552214_cloudy-sky-wallpaper-blue-sky-clouds-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img {
    background-image: url(../image/using-time-out-to-guide-your-childs-behaviournarrow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.article-1, 
.article-2, 
.article-3 {
    background: rgba(255, 255, 255, 0.699);
}

i:hover,
i:focus {
    transform: scale(1.5, 1.5);
}