body {
    font-family: Candara, serif;
    display: block;
    width: 100%;
}

h1, 
h2, 
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav>ul>li>a {
    list-style: none;
}


.img-header {
    background-image: url(../image/155-1552214_cloudy-sky-wallpaper-blue-sky-clouds-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img {
    background-image:url(../image/UN0243366.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

button {
    cursor: pointer;
}
button:hover,
button:focus {
    transition: ease;
    transform: scale(1.1, 1.1);
}

i:hover,
i:focus {
    transform: scale(1.5, 1.5);
}

.article-1 {
    background: rgba(255, 255, 255, 0.692);
    height: auto;
}