/*Color*/
$bg-transparent: #ffffffb0;

/*Font family*/
$main-font : Candara, serif;
$h-font : Georgia, 'Times New Roman', Times, serif;

html {
    scroll-behavior: smooth;
}

body {
    font-family: $main-font;
    display: block;
    width: 100%;
}

h1, 
h2, 
h4 {
    font-family: $h-font;
}

nav>ul>li>a {
    list-style: none;
}


.img-header {
    background-image: url(../image/155-1552214_cloudy-sky-wallpaper-blue-sky-clouds-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img {
    background-image:url(../image/UN0243366.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.article-1 {
    background: $bg-transparent;
    height: auto;
}

/*Effet des boutons*/

button {
    cursor: pointer;
}

button:hover,
button:focus {
    transition: 0.3s ease-in 0.1s;
    transform: scale(1.1, 1.1);
}

.social-logo:hover,
.social-logo:focus {
    transition: 0.1s ease-in ;
    transform: scale(1.3, 1.3);
}

.social-logo {
cursor: pointer;
}

i:hover,
i:focus {
    transition: 0.1s ease-in;
    transform: scale(1.1, 1.1);
}

